<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<th:block th:fragment="pagination">
		<div th:if="${page.totalPages > 0}" class="col-auto">
			<nav>
				<ul class="pagination">
					<!--  Previous  -->
					<li th:if="${page.hasPrevious()}" class="page-item">
						<a class="page-link" th:href="@{/list(page=${page.number - 1 })}">
							前へ
						</a>
					</li>
					<!--  Page Number  -->
					<th:block th:each="i : ${#numbers.sequence(0, page.totalPages -1)}" th:switch="${page.number}">
						<!-- 現在のページ -->
						<li th:case="${i}" class="page-item active">
							<a class="page-link" th:text="${i + 1}"></a>
						</li>
						<!-- それ以外のページ if-unlessでやってもOK -->
						<li th:case="*" class="page-item">
							<a class="page-link" th:href="@{/list(page=${i})}" th:text="${i + 1}"></a>
						</li>
					</th:block>
					<!-- Next -->
					<li th:if="${page.hasNext()}" class="page-item">
						<a class="page-link" th:href="@{/list(page=${page.number + 1})}">
							次へ
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</th:block>
</body>
</html>