<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charst="UTF-8"></meta>
	<title>CommentApp</title>
</head>
<body>
	<h3>CommentApp</h3>
	<form th:action="@{/add}" th:object="${comment}" method="post">
		<label for="content">コメント：</label>
		<input type="text" th:field="*{content}">
		<button>登録</button>
		<br>
		<small style="color: red" th:errors="*{content}"></small>
	</form>
	
	<br>
	<h3>一覧</h3>
	<div th:each="comment : ${comments}">
		<div>[[${comment.id}]] - [[${comment.content}]]</div>
	</div>
</body>
</html>